extends layout

block contenido
  .contenido-principal
    h1 #{nombrePagina} - #{proyecto.nombre}

    form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
      .campo
        label(for="tarea") Tarea:
        input.nombre-tarea(type="text", name="tarea" placeholder="Nombre Tarea")
      .campo.enviar
        input.boton.nueva-tarea(type="SUBMIT", value="Agregar")

    // TODO - Listado de Pendientes

    // Acciones

    //- pre= vardump(proyecto)
    pre= vardump(tareas)

    .contenedor-acciones
      a(href=`/proyecto/editar/${proyecto.id}` class="boton" ) Editar Proyecto
      button#eliminar-proyecto(class="boton eliminar", type="button" data-proyecto-url=proyecto.url) Eliminar Proyecto